{% extends 'base.html.twig' %}

{% block title %}Rejoins la Musique{% endblock %}

{% block body %}


 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ asset('assets/css/style_log.css') }}">


<center>
<section class="container my-5 mt-3 rounded-5">
    <div class="row mb-3 mt-5 background-form rounded-5">
        <div class="col mb-3 rounded-5">
            <h1>Inscription</h1>
        
            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
            <div class ="mb-3">
            {{ form_row(registrationForm.name) }}
            </div>
            <div class ="mb-3">
            {{ form_row(registrationForm.email) }}
            </div>
            <div class ="mb-3">
            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
            </div>
            {{ form_row(registrationForm.agreeTerms) }}
           <button type="submit" class="btn btn-lg btn-primary">Je M'inscris</button>
        {{ form_end(registrationForm) }}

        </div>
    </div>
</section>
</center>

{% endblock %}
