{% extends 'base.html.twig' %}

{% block title %}Rejoins la Musique{% endblock %}

{% block body %}
<center>
<section class="container my-5 mt-3 ">
    <div class="row mb-3">
        <div class="col mb-3">
            <h1>Inscription</h1>
        
            {{ form_errors(registrationForm) }}
            {{ form_start(registrationForm) }}
            <div class ="mb-3">
            {{ form_row(registrationForm.name) }}
            </div>
            <div class ="mb-3">
            {{ form_row(registrationForm.email) }}
            </div>
            <div class ="mb-3">
            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
            </div>
            {{ form_row(registrationForm.agreeTerms) }}
           <button type="submit" class="btn btn-lg btn-primary">Je M'inscris</button>
        {{ form_end(registrationForm) }}

        </div>
    </div>
</section>
</center>

{% endblock %}
