{% extends 'base.html.twig' %}

{% block body %}
<style>
.artist-info-wrapper {
    margin: 20px;
}

.artist-images-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.artist-image-item {
    margin: 10px;
}

.image-button {
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
}

.artist-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.image-title {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

</style>
<div class="artist-info-wrapper">
    <h3>Résultat pour : </h3>
    <ul class="artist-images-list">
        {% for key, img in img %}
            <li class="artist-image-item">
                {% if type[key] == "master" or type[key] == "release" %}
                    <form action="{{ path('album_read', {'id': id[key],'type': type[key]}) }}" method="get">
                        <button type="submit" class="image-button">
                            <img src="{{ img }}" alt="Artwork" class="artist-image">
                            <p class="image-title">{{ title[key]|slice(0, 20) }}</p>
                        </button>z
                    </form>
                {% elseif type[key] == "artist" %}
                    <form action="{{ path('artists_read', {'id': id[key],'type': type[key]}) }}" method="get">
                        <button type="submit" class="image-button">
                            <img src="{{ img }}" alt="Artwork" class="artist-image">
                            <p class="image-title">{{ title[key]|slice(0, 20) }}</p>
                        </button>
                    </form>
                {% else %}
                        <form action="{{ path('label_read', {'id': id[key],'type': type[key]}) }}" method="get">
                        <button type="submit" class="image-button">
                            <img src="{{ img }}" alt="Artwork" class="artist-image">
                            <p class="image-title">{{ title[key]|slice(0, 20) }}</p>
                        </button>
                    </form>
                {% endif %} 
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
