<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>{% block title %}Spotyfruit!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"

        
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        {% block javascripts %}{% block importmap %}{{ importmap('app') }}{% endblock %}{% endblock %}
        <script src="{{ asset('assets/js/script.js') }}" defer></script>


    
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Spotyfruit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
                
                <form class="form-inline ms-auto" action="{{ path('search', {'name': 'beatles'}) }}"> 
                    <input class="" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

    
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if app.user %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/account/info">Mon compte<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('app_logout')}}">Déconnexion<span class="sr-only"></span></a>
                    </li>
                {% endif %}

                {% if app.user == false %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('app_login')}}">Connexion<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('app_register')}}">M'inscrire<span class="sr-only"></span></a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
    
    <div class="footer">
    <p>Footer</p>
    </div>
</html>
