{% extends 'base.html.twig' %}

{% block title %}{{ label.name }}{% endblock %}

{% block body %}
<style>
    .label-info-wrapper { 
        margin: 0 auto; 
        max-width: 800px; 
        width: 80%; 
        font: 18px/1.5 sans-serif; 
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
        background-color: #333; 
        color: #fff; 
        border-radius: 10px; 
        padding: 20px;
        text-align: center;
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .label-image {
        margin-bottom: 20px;
        width: 200px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .label-name {
        font-size: 28px;
        font-family: 'Arial', sans-serif;
        color: #fff;
    }

    .label-description {
        font-size: 18px;
        margin-top: 20px;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
<div class="label-info-wrapper">
    {% if label.images is defined %}
        <img class="label-image" src="{{ label.images[0]["uri"] | default('https://www.example.com/default-image.jpg') }}" alt="{{ label.name }}">
    {% endif %}
    <h1 class="label-name">{{ label.name }}</h1>
    <div class="label-description">
        {% if label.profile is defined %}
            {{ label.profile }}
        {% endif %}
    </div>
</div>
{% endblock %}
